In [ ]:
%pip install plotly

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import yfinance as yf
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")

tesla_data.reset_index(inplace=True)
tesla_data

In [ ]:
teslaRevenue = requests.get(" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm").text
tesla_revenue_data = BeautifulSoup(teslaRevenue,'html.parser')

tesla_revenue_data

In [50]:
rows = tesla_revenue_data.find("tbody").find_all("tr")

tesla_dict = {key:[] for key in ["Date","Revenue"]}

tesla_dict

for row in rows:
    rows_data = row.findAll("td")
    tesla_dict["Date"].append(row_data[0].text)
    tesla_dict["Revenue"].append(row_data[1].text)


tesla_revenue = pd.DataFrame(tesla_dict)

tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|$',"")

tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

tesla_revenue

    Date Revenue
0   2005  $1,843
1   2005  $1,843
2   2005  $1,843
3   2005  $1,843
4   2005  $1,843
5   2005  $1,843
6   2005  $1,843
7   2005  $1,843
8   2005  $1,843
9   2005  $1,843
10  2005  $1,843
11  2005  $1,843
12  2005  $1,843

In [ ]:
GameStop = yf.Ticker("GME")


gme_data = GameStop.history(period="max")

gme_data.reset_index(inplace=True)

html_data = requests.get(" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html").text
soup = BeautifulSoup(html_data,'html.parser')

rows = soup.find('tbody').find_all('tr')

dict_revenue = {key:[] for key in ["Date","Revenue"]}

for row in rows:
    row_data = row.find_all('td')
    dict_revenue["Date"].append(row_data[0].text)
    dict_revenue["Revenue"].append(row_data[1].text)



gme_revenue = pd.DataFrame(dict_revenue)

gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(",|\$","")

gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

gme_revenue
rows = soup.find('tbody').find_all('tr')

dict_revenue = {key:[] for key in ["Date","Revenue"]}

for row in rows:
    row_data = row.find_all('td')
    dict_revenue["Date"].append(row_data[0].text)
    dict_revenue["Revenue"].append(row_data[1].text)



gme_revenue = pd.DataFrame(dict_revenue)

gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(",|\$","")

gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

gme_revenue

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [43]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

C:\Users\waleed.hamdi\AppData\Local\Temp\ipykernel_4888\2068038883.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

C:\Users\waleed.hamdi\AppData\Local\Temp\ipykernel_4888\2068038883.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

ValueError: could not convert string to float: '$1,843'